img {
    width: 300px;
    height: 300px;
    padding:1px;
    border:2px solid #021a40;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(../images/background.jpg);
}