<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Dating Webpage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Welcome To My Pet Dating Website</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Learn More <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="m-5">
        <div class="jumbotron" align="center">
            <h1 class="display-4">Hello there!</h1>
            <p class="lead">We are a special pet dating site designed to help your furry little friend find there special someone. With our special algorithm, we will select
                an assortment of possible matches guaranteed to make your pet happy.</p>
            <p class="lead" >To show you our process works, here is our prior user Snowball next to his new partner Smudge. Look how happy they are together!</p>
            <div>
                <img width="300px" src="images/grumpyCatResized.jpg" alt="RIP Grumpy cat :(">
                <img  width="300px" src="images/smudgeResized.jpg"  alt="good cat">
            </div>
            <div>
                <q> 10/10, not happy about it though. </q></br>-Snowball
            </div>
            <hr class="my-4">
            <div>
                <p>Click the button to make your profile and get started today!</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="start" role="button">Get Started</a>
                </p>
            </div>

        </div>
    </div>

</body>
</html>