<!doctype html>
<html lang="en">
<head>
    <title>Pet Order</title>
    <include href="includes/formHeader.html"></include>
<body>
<div class="container">

    <form action="#" method="post" class="form-horizontal align-content-center">

        <h1>Please tell us a little about your pet</h1>

        <div class="form-group">

            <label for="first" class="col-sm-2 control-label">First Name</label>

            <div class="col-sm-4">
                <input class="form-control" type="text" name="first" id="first">
            </div>
            <span class="err">
                <check if="{{ isset(@errors['firstName']) }}">
                     {{ @errors['firstName'] }}
                </check>
            </span>
        </div>

        <div class="form-group">
            <label for="last" class="col-sm-2 control-label">Last Name</label>

            <div class="col-sm-4">
                <input class="form-control" type="text" name="last" id="last">
            </div>
            <span class="err">
                <check if="{{ isset(@errors['lastName']) }}">
                     {{ @errors['lastName'] }}
                </check>
            </span>
        </div>

        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">Age</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" name="age" id="age">
            </div>
            <span class="err">
                <check if="{{ isset(@errors['ageError']) }}">
                     {{ @errors['ageError'] }}
                </check>
            </span>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Gender</label>

            <div class="col-sm-4">
                    <repeat group="{{ @genders }}" value="{{ @gender }}">
                        <label><input type="radio"
                                      name="gender"
                                      id="{{ @gender }}"
                                      value="{{ @gender }}"
                            <check if="{{ @gender == @selectedGender }}" >
                                checked="checked"
                            </check>
                            > {{ ucfirst(@gender) }}
                            </label><br>
                    </repeat>
            </div>

        </div>

        <div class="form-group">
            <label for="phoneNumber" class="col-sm-2 control-label">Phone Number</label>
            <div class="col-sm-4">
                <input class="form-control" type="number" name="phoneNumber" id="phoneNumber">
            </div>
        </div>

        <div class="col-xs-3 ">
            <input class="form-control btn btn-default"
                   type="submit" value="Next">
        </div>
    </form>

</div>

</body>
</html>
