<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pet Order 3</title>
    <include href="includes/formHeader.html"></include>
</head>
<body>
<div class="container">

    <form action="#" method="post" class="form-horizontal">

        <h1>Interests</h1>

        <div class="form-group">
            <label class="col-sm-2 control-label">In-door Interest</label>

            <div class="col-sm-4">
                <repeat group="{{ @indoors }}" value="{{ @indoor }}" >
                    <input type="checkbox" name="indoor[]"  value="{{ @indoor }}">       {{ @indoor }}
                </repeat>
                <span class="err">
                <check if="{{ isset(@errors['inDoorError']) }}">
                     {{ @errors['inDoorError'] }}
                </check>
            </span>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Out-door Interests</label>

            <div>
                <repeat group="{{ @outdoors }}" value="{{ @outdoor }}" >
                    <input type="checkbox" name="outdoor[]"  value="{{ @outdoor }}">       {{ @outdoor }}
                </repeat>
            </div>
            <span class="err">
                <check if="{{ isset(@errors['OutDoorError']) }}">
                     {{ @errors['outDoorError'] }}
                </check>
            </span>

        </div>

        <div class="col-xs-3 ">
            <input class="form-control btn btn-default"
                   type="submit" value="Submit">
        </div>
    </form>

</div>
</body>
</html>