<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Order</title>
    <include href="includes/header.html"></include>
</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>Overview of your Profile</h2>
        <p class="lead">Below is everything you have submitted through our form. Please know that all information will be kept confidential and we will not sell your information.</p>
    </div>

    <div class="row">

        <div class="col-md-8 order-md-1">
            <h3 class="mb-3">Profile overview From Page one</h3>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>First name:</label>
                        <p>{{ @SESSION.first }}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Last name: </label>
                        <p>{{ @SESSION.last }}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Age: </label>
                        <p>{{ @SESSION.age }}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Gender</label>
                        <p>{{ @SESSION.genders }}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Phone Number: </label>
                        <p>{{ @SESSION.phoneNumber }}</p>
                    </div>

                </div>
            <h3 class="mb-3">Profile overview From Page Two</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Email:</label>
                    <p>{{ @SESSION.email }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label>State: </label>
                    <p>{{ @SESSION.state }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Age: </label>
                    <p>{{ @SESSION.age }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Preferred Gender</label>
                    <p>{{ @SESSION.genderPage2 }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Bio: </label>
                    <p>{{ @SESSION.bio }}</p>
                </div>

            </div>
            <h3 class="mb-3">Profile overview From Page Three</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Outdoor Interests Are:</label>
                    <p>{{ implode(@SESSION.indoor, ", ") }}</p>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Indoor Interests: </label>
                    <p>{{ implode(@SESSION.outdoor, ", ") }}</p>
                </div>

        </div>




    </div>
            </div>
        </div>
</div>

</body>
</html>