<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Order</title>
    <include href="includes/summaryHeader.html"></include>
</head>
<body>

<div class="container align-content-center">
    <div class="py-5 text-center">
        <h2>My Dating Profile</h2>
    </div>
        <div class="row col-sm-8">
            <div class="col-md-8 order-md-1">
                <div class="row">
                    <p><strong>Name</strong>: {{ @SESSION.first }} {{ @SESSION.last }}</p><hr>
                    <p><strong>Gender</strong>: {{ @SESSION.genders }}</p><hr>
                    <p><strong>Age</strong>: {{ @SESSION.age }}</p><hr>
                    <p><strong>Phone</strong>: {{ @SESSION.phoneNumber }}</p><hr>
                    <p><strong>Email</strong>: {{ @SESSION.email }}</p><hr>
                    <p><strong>State</strong>: {{ @SESSION.state }}</p><hr>
                    <p><strong>Seeking</strong>: {{ @SESSION.genderPage2 }}</p><hr>
                    <p><strong>Indoor Interest</strong>: {{ implode(@SESSION.indoor, ", ") }}</p><hr>
                    <p><strong>Outdoor Interest</strong>: {{ implode(@SESSION.outdoor, ", ") }}</p><hr>
                </div>
            </div>
        </div>
    <div class="row">
        <img class="float-right" alt="proflie picture" src="images/profile-image-placeholder.png">
        <p  id="profileBio"><wbr><strong>Biography</strong>: {{ @SESSION.bio }}</p><hr>
    </div>
</div>
</body>
</html>